      <section class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 data-swiper-parallax="-100%" class="display-3"><b>All kind of art,</b><br>
                for all kind of tastes.</h1>
            </div>
          </div>
        </div>
      </section>
            <div class="text-center"><%= link_to 'Add new Artwork now!', new_artwork_path, class: "btn btn-success mb-4" %></div>

      <section class="p-0 m-1">
        <div class="container-full">
          <ul class="masonry row gallery gutter-1 mb-0">
            <% @artworks.each do |artwork| %>
              <li class="col-6 col-md-4" data-aos="zoom-in">
                <figure class="photo equal">
                  <a href="<%=artwork.picture_url%>" 
						    style="background-image: url(<%=artwork.picture_url%>);">
                    <span class="photo-caption">
                      <h4><%= artwork.name %></h4>
                      <p class="text-light">by <%= artwork.user.artistname %></p>
                      <p><%= artwork.description %></p>
                      <p class="text-light"><%= number_with_delimiter(artwork.price, delimiter: " " ) %> €</p>
                    </span>
                  </a>
                </figure>
                <div class="text-center">
                  <%= link_to 'Buy now', new_cart_path(artwork.id), class: "btn btn-outline-success btn-sm mt-1"%>
                  <%= link_to 'Show me', artwork_path(artwork.id), class: "btn btn-outline-dark btn-sm mt-1"%>
                  <%= link_to 'Edit details', edit_artwork_path(artwork), class: "btn btn-outline-dark btn-sm mt-1"%>
                  <%= link_to 'Delete it', artwork, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm mt-1"%>
                </div>
              </li>
            <%end%>
          </ul>
          <div class="row" style="margin-top: 5px;">
            <div class="col">
              <a href="" class="btn btn-block btn-light btn-lg text-center">
                Load More
              </a>
            </div>
          </div>
        </div>
      </section>
    
