<<<<<<< HEAD
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">A zoom on an artpiece</h1>
</div>

<br>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="card-img-top" src=<%= @artworks.pictures%> alt="Card image cap" style="max-width:100%">  
    </div>
    <div class="col-sm">
      <h2><%= @artworks.name %></h2>
                    <p><%= @products.description %></p>
                    <hr>
                    <h2 class="text-right"><%= @artworks.price %> € </h2>
                    <%=link_to("Add to cart", new_product_line_item_path(product.id))%>
                    <hr>
    </div>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @artwork.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artwork.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @artwork.picture_url %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @artwork.categorie %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @artwork.weight %>
</p>

<p>
  <strong>Size:</strong>
  <%= @artwork.size %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @artwork.sale %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @artwork.tag %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
>>>>>>> delivery
