<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @like.user %>
</p>

<p>
  <strong>Artwork belongs to:</strong>
  <%= @like.artwork_belongs_to %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
