
    <hr>

    <div class="container">
    
    <%= form_for @users do |f| %>
      
      <label for="exampleFormControlInput3">Username</label>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
      
      
      <label for="exampleFormControlInput3">First name</label>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "username", class: "form-control" %>
      
      <label for="exampleFormControlInput3">Last name</label>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "username", class: "form-control" %>
      
      <label for="exampleFormControlInput3">Birthday ( ex: 1987-09-18) </label>
      <%= f.text_area :dateofbirth, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">Biography</label>
      <%= f.text_area :bio, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">Mobile</label>
      <%= f.phone_field :mobile, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">E-mail</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">Adress</label>
      <%= f.text_area :adress, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">Zipcode</label>
      <%= f.text_field :zipcode, autofocus: true, autocomplete: "username", class: "form-control" %>

      <label for="exampleFormControlInput3">Siret</label>
      <%= f.text_field :siret, autofocus: true, autocomplete: "username", class: "form-control" %>
      </br>
      <%= f.submit "Save change", class: "btn btn-primary btn-block" %>
      <%= link_to "Save change", artworks_path %>
      </br>


      </div>
    <% end %>
    