<p id="notice"><%= notice %></p>

<h1>Your Cart</h1>

<table>
  <thead>
    <tr>
      <th>Cart ID</th>
      <th>User ID</th>
      <th>Artwork</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.user.id %></td>
        <td><%= cart.artwork.name %></td>
        <td><%= link_to 'Show', artwork_path(cart.artwork.id) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- returns to previous navigated page -->
<%= link_to "Back", request.referer.present? ? request.referer : root_path %>