<p id="notice"><%= notice %></p>
<br><br><br><br><br><br>
<p>
  <strong>User ID :</strong>
  <%= @cart_line.user.id %>
</p>

<p>
  <strong>Artwork:</strong>
  <%= @cart_line.artwork.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cart_line.artwork.price %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
<br>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-description="A month's subscription"
data-amount="500"
data-currency="eur"
data-locale="auto"></script>