<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal</title>
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="viewport">

    

      <div class="image image-overlay" style="background-image: url(../../assets/images/demo/coworking/coworking-small-11.jpg);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-5">
            <div class="accordion-group accordion-group-portal" data-accordion-group>
              <div class="accordion open" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Sign In</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput2">Password</label>
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                      </div>
                      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                      </br>
                      <h5><%= link_to "Forgot your password?", new_password_path(resource_name) %></h5>
                    </form>
                  </div>
                </div>
                <% end %>
              </div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3" }) do |f| %>
              <div class="accordion" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Create Account</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlInput3">Email address</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput4">Password</label>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput5">Repeat Password</label>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                      </div>
                      
                      <div class="actions">
                        <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
                         </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>



    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>