 <!-- header -->
 <header class="header-sticky header-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../../index.html">
          <img class="navbar-logo navbar-logo-light" src="../../assets/demo/logo/nectar-light5.png" alt="Logo">
          <img class="navbar-logo navbar-logo-dark" src="../../assets/demo/logo/nectr-dark5.pn" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%=root_path%>" role="button">
                Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%=artworks_path%>" role="button">
                  Collections
                </a>
            </li>
          </ul>

          <ul class="navbar-nav align-items-center mr-0">
            <li class="nav-item ">
              <a class="nav-link " href="<%=new_user_path%>"  role="button" >
                  <i class="far fa-user" style="font-size: 1.75em;"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="<%=root_path%>" role="button" >
                <i class="far fa-heart"  style="font-size: 1.75em;"></i> 
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="<%=carts_path%>"  role="button" >
                  <i class="fas fa-shopping-bag" style="font-size: 1.75em;"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- header -->