 
<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Nectar FinalProject" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
  <%= render 'layouts/alerts' %>
  <%= render 'layouts/navbar' %>

<%=yield%>


    <!----------- Footer ------------>
<div class="footer-spe">
 

        <div class="tab-pane" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
          <div class="component-example component-example-fit bg-dark text-white">
            <footer class="bg-dark text-white">
              <div class="container py-1">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5 text-center text-md-left">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Legal Information</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 text-center">
                  </div>
                  <div class="col-md-5 text-center text-md-right">
                    <ul class="socials">
                      <li><a href="" class="icon-facebook fs-20"></a></li>
                      <li><a href="" class="icon-instagram fs-20"></a></li>
                      <li><a href="" class="icon-twitter fs-20"></a></li>
                      <li><a href="" class="icon-linkedin fs-20"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>

      </div>
    </section>
</div>
    

</div>
<!-- Footer -->


    <!-- scripts -->

    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
      setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>

  </body>
</html>
