<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Nectar FinalProject" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
      <%= render 'layouts/alerts' %>

<!-- scripts -->

    <script src="../../vendor/js/notif.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://kit.fontawesome.com/63ca932e46.js"></script>

      <!------FIN NAVBAR-->
            <header class="header-sticky header-dark">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">
                <img src="../../assets/demo/logo/nectar-dark5.png"" width="80" height="40" class="d-inline-block align-top" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%=artworks_path%>">Collections</a>
                  </li>
                </ul>
              </div>
                <% if user_signed_in?%>
              <ul class="navbar-nav align-items-center mr-0">
                  <li class="nav-item">
                      <a class="nav-link", role="button">
                          <%= link_to "Sign out", destroy_user_session_path , :method => :delete  %>
                      </a>
                  </li> 

                <li class="nav-item">
                  <a class="nav-link", role="button">
                    <%= link_to "My profile", user_session_path %>
                      </a>
                    </li>

               <li class="nav-item">
                <a class="nav-link", role="button">
                  <%= link_to "Cart", carts_path %>
                </a>
              </li>
              </ul>
              <%else%>
              <ul class="navbar-nav align-items-center mr-0">
                <li class="nav-item">
                  <a class="nav-link" , role="button">
                    <%= link_to "Sign in", user_session_path %>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" , role="button">
                    <%= link_to "Sign Up", new_user_path %>
                  </a>
                </li>

              </ul>
              <%end%>

</nav>
</header>
       <!------FIN NAVBAR-->
    


<<<<<<< HEAD

    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2><img src="../../assets/demo/logo/nectar-light5.png"" width="80" height="40" class="d-inline-block align-top" alt=""></h2>
                <p>© NECTAR. 2019 ALL RIGHTS RESERVED</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Legal notice</a></li>
                        <li><a href="#">General Terms and Consitions</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
=======
    <%= yield %>
                                                     
    <!-- footer -->
                                                     
    <footer class="bg-purple text-white">
      <div class="separator-bottom">
        <div class="container py-1 py-md-2">
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-1">
                <img class="logo-sm" src="../../assets/demo/logo/nectar-light5.png" alt="Logo">
              </div>
              <span class="copyright-text">&copy; Nectar. 2019 All Right Reserved</span>
            </div>
            <div class="col col-lg-2">
              <ul class="list-group list-group-minimal">
                <li class="list-group-item">
                  <h6 href="">Customer services</h6>
                </li>
                <li class="list-group-item"><a href="">Contact us</a></li>
                <li class="list-group-item"><a href="">Legal notices</a></li>
                <li class="list-group-item"><a href="">General Terms and Conditions</a></li>
              </ul>
            </div>
            <div class="col col-lg-2">
              <ul class="list-group list-group-minimal">
                <li class="list-group-item">
                  <h6 href="">Who are we?</h6>
                </li>
                <li class="list-group-item"><a href="">About us</a></li>
                <li class="list-group-item"><a href="">The team</a></li>
                <li class="list-group-item"><a href="">FAQ </a></li>
                <li class="list-group-item"><a href="">Jobs </a></li>
                <li class="list-group-item"><a href="">Contact </a></li>
              </ul>
>>>>>>> 97ae3ee33c9c89b28ed2a6279343563927cdda31
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    

</div>
<!-- Footer -->


    <!-- scripts -->

    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
      setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>

  </body>
</html>
