<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Nectar FinalProject" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <style>
.footer-spe {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 125%;
  background-color: #f5f5f5;
  color: white;
  text-align: center;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  background-color: #111;
}
</style>
    
      <%= render 'layouts/alerts' %>

<!-- scripts -->

    <script src="../../vendor/js/notif.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://kit.fontawesome.com/63ca932e46.js"></script>

      <!------FIN NAVBAR-->
           
              <!-- header -->
              
<body>

<ul class="nav-ul">
  <li class="nav-li"><a class="active font-weight-bold" href="<%=root_path%>">Nectar</a>
  <li class="nav-li"><a class="active" href="<%=artworks_path%>">Collection</a>
    <% if user_signed_in?%>
  <li class="nav-li" style="float:right"><a href="<%=destroy_user_session_path %>" data-method="delete">Sign out</a>
  <li class="nav-li" style="float:right"><a href="<%=users_id_path%>">My profil</a>
  <li class="nav-li" style="float:right"><a href="<%=cart_path(current_user.cart.id)%>">Cart</a>
    <%else%>
  <li class="nav-li" style="float:right"><a href="<%=user_session_path%>">Sign in</a>
  <li class="nav-li" style="float:right"><a href="<%=new_user_path%>">Sign Up</a>
    <%end%>

              
              
</ul>

</body>
</html>

       <!------FIN NAVBAR-->
    
<%=yield%>


    <!----------- Footer ------------>
<div class="footer-spe">
 

        <div class="tab-pane" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
          <div class="component-example component-example-fit bg-dark text-white">
            <footer class="bg-dark text-white">
              <div class="container py-1">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5 text-center text-md-left">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Legal Information</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 text-center">
                  </div>
                  <div class="col-md-5 text-center text-md-right">
                    <ul class="socials">
                      <li><a href="" class="icon-facebook fs-20"></a></li>
                      <li><a href="" class="icon-instagram fs-20"></a></li>
                      <li><a href="" class="icon-twitter fs-20"></a></li>
                      <li><a href="" class="icon-linkedin fs-20"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>

      </div>
    </section>
</div>
    

</div>
<!-- Footer -->


    <!-- scripts -->

    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
      setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>

  </body>
</html>
