<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Nectar FinalProject" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body class="bg-light">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <%=yield%>
    <%= render 'layouts/footer' %>
    <!-- scripts -->
    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
      setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>
    <!-- /scripts -->
  </body>
</html>
