 
<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Nectar FinalProject" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
 
    
<header>
  <%= render 'layouts/navbar' %>
</header>
<%= render 'layouts/alerts' %>
    <%=yield%>
<%= render 'layouts/footer' %>
<<<<<<< HEAD

=======
>>>>>>> bf79e6cb38b29789b86d6b040a552292f8d04a0c

<!-- scripts -->
    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
      setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>
    <script src="../../assets/javascripts/application.js"></script>
    <script src="../../assets/stylesheets/application.css"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>
<<<<<<< HEAD

  
=======
    <script src="https://kit.fontawesome.com/2b6f635bf2.js"></script>
<!-- /scripts -->
  </body>
>>>>>>> bf79e6cb38b29789b86d6b040a552292f8d04a0c
</html>
